In [0]:
USE movie_gold

In [0]:
SELECT * FROM results_movies

In [0]:
SELECT sum(budget) as total_budget, sum(revenue) as total_revenue,country_name,
count(country_name) as total_movies
FROM results_movies
GROUP by country_name
ORDER BY total_revenue DESC

In [0]:
SELECT CAST(sum(budget) as DECIMAL(18,2)) as total_budget, 
CAST(avg(budget) as DECIMAL(18,2))as avg_budget
,country_name,
count(country_name) as total_movies,
avg(revenue) as avg_revenue
FROM results_movies
GROUP by country_name
ORDER BY total_budget DESC

In [0]:
SELECT CAST(sum(budget) as DECIMAL(18,2)) as total_budget, 
CAST(avg(budget) as DECIMAL(18,2))as avg_budget
,country_name,
count(country_name) as total_movies,
avg(revenue) as avg_revenue
FROM results_movies
WHERE year_release_date BETWEEN 2010 AND 2015
GROUP by country_name
ORDER BY total_budget DESC